### ca_openssl.cnf ###
[default]
name          = …nombre-CA…
domain_suffix = …dominio, por ejemplo srdsi.lab…
aia_url       = http://$name.$domain_suffix/$name.crt
crl_url       = http://$name.$domain_suffix/$name.crl
ocsp_url      = http://ocsp.$domain_suffix:…num_puerto…
default_ca    = CA_default   # Sección por defecto para CA
name_opt      = utf8,esc_ctrl,multiline,lname,align

[ca_dn]
countryName             = …nombre_país (2 letras)…
stateOrProvinceName     = …nombre_provincia (2 letras)…
localityName            = …nombre_localidad…
organizationName        = …nombre_organización…
organizationalUnitName  = …nombre_departamento…
commonName              = …nombre_identificador_certificado…


[CA_default]
home             = …directorio_principal_estructura…
db	             = …directorio_base_datos…
privado          = …directorio_datos_privados…
database         = $home/$db/…fich_indice_db.txt…          
serial           = $home/$db/…fich_num_serie_certificados.srl…    
crlnumber        = $home/$db/…fich_num_serie_crl.srl…
certificate      = $home/$name.crt             
private_key      = $home/$privado/$name.key     
crl			     = $home/$db/$name.crl		  # (DER format)
RANDFILE         = $home/$privado/.rand         
new_certs_dir    = $home/…directorio_nuevos_certificados…
unique_subject   = no
copy_extensions  = none
default_days     = 365
default_crl_days = 30
default_md       = default                     # sha256
policy           = policy_c_o_match

# Política para la CA  
[policy_c_o_match]
countryName             = match
stateOrProvinceName     = optional
organizationName        = match
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

[req]
default_bits       = 2048                     # 4096
encrypt_key        = yes
default_md         = default                  # sha256
utf8               = yes
string_mask        = utf8only
prompt             = no
distinguished_name = ca_dn
req_extensions     = ca_ext



[ca_ext]
basicConstraints     = critical,CA:true
keyUsage             = critical,keyCertSign,cRLSign
subjectKeyIdentifier = hash
[crl_info]
URI.0     = $crl_url

[issuer_info]
caIssuers;URI.0    = $aia_url
OCSP;URI.0         = $ocsp_url

[name_constraints]
permitted;DNS.0=…nombres-dominio, srdsi.lab…
permitted;DNS.1=…otros-nombres-dominio, srdsi.labs…
excluded;IP.0=0.0.0.0/0.0.0.0
excluded;IP.1=0:0:0:0:0:0:0:0/0:0:0:0:0:0:0:0

[ocsp_ext] 
authorityKeyIdentifier  = keyid:always
basicConstraints        = critical,CA:false
extendedKeyUsage        = OCSPSigning
keyUsage                = critical,digitalSignature
subjectKeyIdentifier    = hash

[server_ext] 
authorityInfoAccess     = @issuer_info
authorityKeyIdentifier  = keyid:always
basicConstraints        = critical,CA:false
crlDistributionPoints   = @crl_info
extendedKeyUsage        = clientAuth,serverAuth
keyUsage                = critical,digitalSignature,keyEncipherment
subjectKeyIdentifier    = hash

[client_ext] 
authorityInfoAccess     = @issuer_info
authorityKeyIdentifier  = keyid:always
basicConstraints        = critical,CA:false
crlDistributionPoints   = @crl_info
extendedKeyUsage        = clientAuth
keyUsage                = critical,digitalSignature
subjectKeyIdentifier    = hash


